<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <mimeMap fileExtension=".Test" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".Test1" mimeType="application/aspx"/>
      <mimeMap fileExtension=".Test2" mimeType="text/html"/>
    </staticContent>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <identity impersonate="false"/>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

<!-- Web.Config Configuration File -->


    <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>
